<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<script src='static/script.js'></script>
	<style>
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap')
</style>
</head>
<body>
<div>
<p style='margin-left: 5px; margin-right: 5px;'>
a small random project brought to you by an inexperienced coder :) may the peace of the Lord Jesus Christ be with you for all of eternity
</p>
<p style='margin-left: 5px; margin-right: 5px;'>written with html, css, javascript and python. flask does all the backend heavy-lifting. you can find the source code for this website on <a class='link' href="https://github.com/maejikal/web-journal">github</a>.</p>

</div>
</html>