<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Copyright</title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<script src='static/script.js'></script>
	<style>
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap')
</style>
</head>
<body>
<div>
<p style='margin-left: 5px; margin-right: 5px;'>
Unless otherwise indicated, all Scripture quotations are from the ESV® Bible (The Holy Bible, English Standard Version®), © 2001 by Crossway, a publishing ministry of Good News Publishers. Used by permission. All rights reserved. The ESV text may not be quoted in any publication made available to the public by a Creative Commons license. The ESV may not be translated into any other language.
</p>
<p style='margin-left: 5px; margin-right: 5px;'>This website is in no way affiliated to Crossway but is fully powered by the <a class='submit-btn' style='font-size:15px;' href='https://api.esv.org'>ESV API</a>.</p>

</div>
</html>