<<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, height=device-height">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="static/loginstyles.css">
    <script src='static/script.js'></script>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap')
</style>
</head>
<body>
    <div>
        <button onclick="goBack()" class="back-button">←</button>
<div class='login_form'>
    <p style="color:skyblue;">login</p>
    <form action='{{url_for("verify")}}' method='POST'>
    email: <input type="email" name="email" class='field' required placeholder="johndoe@gmail.com"><br>
    password: <input type="password" name="password" class='field' required placeholder="*******"> <br>
    <br>
    <button type="submit" class="submit-btn">enter</button>
</form>
<a class='link' href="{{url_for('registerform')}}" style='color:lightgoldenrodyellow; font-size:20px;'>sign up</a>
</div>

</div>
<p style='text-align: center; color:white; font-size:25px;'>
    {% if msg is defined %}
        {{msg}}
    {% endif %}
</p>
</body>
</html>

