<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap')
	</style>
	<link rel="stylesheet" type="text/css" href="static/styles.css">
	<script src='static/script.js'></script>
</head>
<body>
	<div>
	<button href="{{url_for('root')}}" class="back-button">←</button>
	<div>
<p style='text-align: center' style="font-size: 20px">{{msg}}</p>
<p style='text-align: center' style='font-size: 20px'>Go to <a href='{{url_for("login")}}' class='link'>login</a></p>
</div>
</div>
</body>
</html>
